{% extends 'portal/base.html' %}
{% block pagetabtitle %}Book{% endblock %}

{% load static %}

{% block content %}

<!-- End Book Details -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'portal:books' %}">Books</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Add/Update Book</li>
                    </ol>
                  </nav>

                <h1>Add/Update Book</h1>

                <div class="col-md-12 col-lg-12 col-sm-12">

                    <form class="modal-body" id="book-form" action="{% url 'portal:book_create_update' %}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{id}}">

                         {% if message %}
                        <div class="col-md-7 mx-auto alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Info! </strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}

                        {% if error_message %}
                        <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error! </strong> {{error_message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% csrf_token %}
                        <!-- book title -->
                        <div class="form-group row mb-3">
                            <label for="title" class="col-3 col-form-label">Book Title</label>
                            <div class="col-8">
                                <input type="text" name="title" value="{{title}}" class="form-control" id="title"
                                    placeholder="Book Title" required>
                            </div>
                        </div>

                        <!-- book title -->
                        <div class="form-group row mb-3">
                            <label for="author" class="col-3 col-form-label">Book Title</label>
                            <div class="col-8">
                                <input type="text" name="author" value="{{author}}" class="form-control" id="author"
                                    placeholder="Book Author" required>
                            </div>
                        </div>

                        <!-- short description -->
                        <div class="form-group row mb-3">
                            <label for="description" class="col-3 col-form-label">Description</label>
                            <div class="col-8">
                                <input type="text" value="{{description}}" class="form-control"
                                    id="description" name="description" placeholder="Short Description" required>
                            </div>
                        </div>

                        <!-- book image -->
                        <div class="form-group row mb-3">
                            <label for="image" class="col-3 col-form-label">Book Image</label>
                            <div class="col-8">
                                {% if image %}
                                    <span>Currently: {{image}}</span>
                                {% endif %}
                                <input type="file" name="image" class="form-control" id="image" {% if not image %} required {% endif %}>
                            </div>
                        </div>

                        <!-- book file -->
                        <div class="form-group row mb-3">
                            <label for="file" class="col-3 col-form-label">Book File</label>
                            <div class="col-8">
                                {% if file %}
                                    <span>Currently: {{file}}</span>
                                {% endif %}
                                <input type="file" name="file" class="form-control" id="file" {% if not image %} required {% endif %}>
                            </div>
                        </div>

                        <!-- Delete and Submit button -->
                        <div class="modal-footer">
                            <div class="form-group mb-0 justify-content-end row">
                                <div>
                                    <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light mt-2 text-white">
                                        <span class="btn-label"><i class="mdi mdi-pencil"></i></span>Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Book Details -->
{% endblock %}